@charset "UTF-8";
/*共通ーーーーーーーーーーーーーーー*/
.bolt {
  background-color: #f2f2f2;
}
.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

.main__bolt {
  padding-top: 70px;
}

.button__a {
  padding: 14px 12px;
  font-size: 12px;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  background-color: #74cfae;
}

a {
  display: inline-block;
}

.is__raleway {
  font-family: "Raleway";

}

/*header---------------------------------*/
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.inner__header {
  padding: 15px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.icon__bolt {
  color: #4e4e44;
  font-size: 2.0em;
}

.size {
  font-size: 1.5em;
}

.button__a :hover {
  transition: all 0.3s;
  cursor: pointer;
  color: #333;
}

.header__ber {
  padding: 10px;
  border-radius: 4px;
  display: none;
  border: 1px solid #ddd;
}

.line {
	width: 25px;
	height: 2px;
  display: none;
  color: #ddd;
  background-color: #ddd;
}

.header__ber :not(:first-of-type) {
  margin-top: 5px;
  display: none;
}



/*theme---------------------------------*/
.theme {
  padding: 250px 0 ; 
}

.text__bolt {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.phone__br {
  display: none;
}

.text__free {
  margin-top: 20px;
  font-size: 24px;
  color: #c0c0c0;
}

/*secotion-------------------------------------*/
.section {
  padding-top: 50px;
  background-color: #74cfae;
}

.phone__box {
  display: flex;
  justify-content: center;
}

.phone__img {
  height: 295px;
}

.section__text {
  margin-left: 50px;
  width: 60%;
  line-height: 30px;
}

.text__what {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.text__theme {
  margin-top: 35px;
  font-size: 20px;
  text-align: center;
  word-break: break-all;
  color: #fff;
}


/*main2-----------------------------------*/

.main__article {
  padding: 60px 0 70px;
}

.text__article {
  font-size: 24px;
}

.article__img {
  margin-top: 40px;
  display: flex;
}

.img__box li {
  margin:80px 0 0 100px;
  float: left;
  font-size: 0;
  opacity: 0.7;
  transition: all 0.3s;
}

.img__box li:hover {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.img__box li:nth-child(-n+3) {
  margin-top: 0;
}

.img__box li:nth-child(3n+1) {
  margin-left: 0;
}

.bottom__article {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom__article a {
  margin-left: 90px;
  display: block;
}

.bottom__article a:hover {
  color: #333;
  transition: all .3s;
  cursor: pointer;
}

.text__bottom {
  width: 50%;
  font-size: 12px;
  line-height: 20px;
}


/*main3----------------------------------*/
.main__section {
  padding: 70px 0 100px;
  background-color: #4e4e44;
}

.main__section p {
  margin-top: 15px;
  color: #fff;
}

.text__section {
  font-size: 30px;
  color: #fff;
}

.section__box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.section__box li:not(:first-of-type) {
  margin-left: 180px;
}

/*box4--------------------------------*/

.main__nav {
  padding: 200px 0;
}

.icon__nav {
  display: flex;
  justify-content: center;
}

.icon__nav li {
  width: 185px;
  transition: all 0.5s;
}

.main__nav a {
  padding: 30px 0;
  font-size: 40px;
  color: #74cfae;
  display: block;
}

.main__nav li:hover {
  transition: all 0.5s;
  cursor: pointer;
  background-color: #fff;
}



/*footer-------------------------------*/
.footer {
  padding: 20px 0 ;
  background-color: #74cfae;
}

.footer p {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

/*madia-TAB----------------------------------*/

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .section {
    padding-bottom: 25px;
  }
  .phone__box {
    flex-direction: column;
    align-items: center;
  }

  .section__text {
    margin: 20px 0 0 ;
  }

  .img__box li {
    margin: 0 auto;
    width: 300px;
    float: none;
  }

  .img__box li:nth-child(3n+1) {
    margin-left:auto;
  }

  .img__box li:nth-child(3n+4) {
    margin-top:80px;
  }

  .bottom__article {
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .bottom__article a {
    margin: 0;
  }

  .bottom__article a {
    margin-top: 40px;
  }

  .article__img {
    display: flex;
    flex-direction: column;
  }

  .section__box {
    flex-direction: column;
  }
  
  .section__box li:not(:first-of-type) {
    margin-top: 88px;
  }

  .section__box li:not(:first-of-type) {
    margin-left: 0px;
  }


}

/*madia-pohone----------------------------------*/


@media screen and (max-width:767px) {

  .header__ber {
    display: block;
    }

  .line {
    display: block;
  }

  .header__ber :not(:first-of-type) {
    display: block;
  }

  
  .header a {
    display: none;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .phone__br {
    display: block;
  }  

  .text__free {
    line-height: 35px;
    font-size: 30px;
  }

  .section__text {
    width: 80%;
  }
  
  .text__bolt {
    font-size: 80px;
  }

  .text__bottom {
    width: 80%;
  }

  .main__nav {
    padding: 50px 15px;
  }

  .icon__nav {
    flex-direction: column;
  }

  .icon__nav li {
    width: 100%;
  }

}


