/*共通ーーーーーーーーーーーーーーー*/
.bolt {
  background-color: #f2f2f2;
}
.inner {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}

.main__bolt {
  padding-top: 70px;
}


/*header---------------------------------*/
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.inner__header {
  padding: 15px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.fa-bolt {
  color: #4e4e44;
  font-size: 2.0em;
}

.size {
  font-size: 1.5em;
}


.header a {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: all 0.3s;
  text-decoration: none;
}

.header a:hover {
  transition: all 0.3s;
  color: #333;
  cursor: pointer;
}

.header__ber {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
}



/*theme---------------------------------*/
.theme {
  padding-top: 250px; /*元250px*/
  padding-bottom: 250px;
}

.text__bolt {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: "Raleway";
}

.phone__br {
  display: none;
}

.text__free {
  margin-top: 20px;
  font-size: 24px;
  color: #c0c0c0;
}

/*secotion-------------------------------------*/
.section {
  background-color: #74cfae;
  padding-top: 50px;
}

.phone__box {
  display: flex;
}

.phone__img {
  height: 295px;
  width: 40%;
}


.section__text {
  margin: 0 0 0 auto;
  width: 70%;
  line-height: 30px;
}

.text__what {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
}

.text__theme {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  word-break: break-all;
}



  
/*main2-----------------------------------*/

.main__article {
  padding-top: 60px;
  padding-bottom: 70px;
}

.text__article {
  font-size: 24px;
  font-family: "Raleway";
}

.article__img {
  display: flex;
  margin-top: 40px;
}

.img__box li {
  margin-top:80px;
  margin-left: 100px;
  float: left;
  font-size: 0;
}

.img__box li:nth-child(-n+3) {
  margin-top: 0;
}

.img__box li:nth-child(3n+1) {
  margin-left: 0;
}

.img__box img {
  opacity: 0.7;
  transition: all 0.3s;
}

.img__box img:hover {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}


.bottom__article {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom__article a {
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all .3s;
  text-decoration: none;
}

.bottom__article a:hover {
  color: #333;
  transition: all .3s;
  cursor: pointer;
}

.text__bottom {
  width: 50%;
  font-size: 12px;
  line-height: 15px;
}




/*main3----------------------------------*/
.main__section {
  background-color: #4e4e44;
  padding-top: 70px;
  padding-bottom: 100px;
}

.main__section p {
  margin-top: 15px;
  color: #fff;
}

.text__section {
  font-size: 30px;
  color: #fff;
  font-family: "Raleway";
}

.section__box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.section__box li:not(:first-of-type) {
  margin-left: 180px;
}

/*box4--------------------------------*/

.main__nav {
  padding-top: 200px;
  padding-bottom: 200px;
}

.icon__nav {
  display: flex;
  justify-content: center;
}

.main__nav a {
  color: #74cfae;
  font-size: 2.5em;

}

.icon__nav i {
  width: 185px;
  padding: 30px 0;
  transition: all 0.5s;
}

.main__nav i:hover {
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}



/*footer-------------------------------*/
.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

/*madia-TAB----------------------------------*/

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .section {
    padding-bottom: 25px;
  }
  .phone__box {
    flex-direction: column;
    align-items: center;
  }

  .section__text {
    margin: 0 auto;
  }

  .text__what {
    padding-top: 20px;
  }
  
  .img__box li {
    margin-top: 0;
    margin-left: 0;
    float: none;
  }

  .img__box li:nth-child(4) {
    margin-top:80px;
  }

  .bottom__article {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0;
  }

  .bottom__article a {
    margin: 0;
  }

  .text__bottom {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .article__img {
    display: flex;
    flex-direction: column;
  }

  .section__box {
    flex-direction: column;
  }
  
  .section__box li:not(:first-of-type) {
    margin-left: 0;
  }

  .section__box li:not(:last-of-type) {
    margin-bottom: 80px;
  }


}

/*madia-pohone----------------------------------*/


@media screen and (max-width:767px) {

  .header__ber {
    display: block;
    }
  
  .header a {
    display: none;
  }

  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .phone__br {
    display: block;
  }  
  
  .text__free {
    font-size: 30px;
  }
  
  .text__bolt {
    font-size: 80px;
  }

  .main__nav {
    padding: 50px 15px;
  }

  .icon__nav {
    flex-direction: column;
  }

  .icon__nav i {
    width: 100%;
  }

  .bottom__article a {
    margin: 0;
  }

  
    
}


